.advantages {
	min-height: 472px;
	padding: 70px 0 120px 0;
	background-color: #F6F6F6;
	&__title {
		text-align: center;
		h2 {
			font-weight: bold;
			font-size: 30px;
			line-height: 30px;
			color: #0D0D0D;
			text-transform: uppercase;
		}
	}
	&__items {
		margin-top: 60px;
		display: flex;
		justify-content:space-between;
	}
	&__item {
		width: 270px;
		text-align: center;
	}
	&__text {
		margin-top: 35px;
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		color: #0D0D0D;
		span {
			display: block;
			margin-bottom: 20px;
			font-weight: 700;
			font-size: 18px;
			line-height: 29px;
		}
		a {
			display: block;
			font-size: 14px;
			font-weight: 300;
			text-transform: uppercase;
			text-decoration: underline;
			color: #ff0000;
			&:hover {
				text-decoration: none;
			}
		}
	}	
}